* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", monospace;
}

body {
  background: black;
  color: #00ff66;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.terminal {
  width: 90%;
  max-width: 700px;
  background: #000;
  border: 2px solid #00ff66;
  padding: 20px;
  box-shadow: 0 0 20px #00ff66;
}

pre {
  white-space: pre-wrap;
  margin-bottom: 10px;
}

.input-line {
  display: flex;
  align-items: center;

}

.input-line span {
  margin-right: 5px;
}

input {
  background: transparent;
  border: none;
  outline: none;
  color: #00ff66;
  width: 100%;
  font-size: 16px;
}

.help {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: #00ff66;
  text-decoration: none;
  opacity: 0.6;
}

.help:hover {
  opacity: 1;
}
